body {
    font-family: Arial, sans-serif;
    color:white;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, rgb(40, 15, 54), rgb(99, 43, 108), rgb(199, 108, 152), rgb(240, 159, 156), rgb(251, 195, 162));
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 0 auto;
}

.entry {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
