
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

  
  header {
    background-image: radial-gradient(circle, rgb(40, 15, 54), rgb(99, 43, 108), rgb(199, 108, 152), rgb(240, 159, 156), rgb(251, 195, 162));
    background-repeat: no-repeat;
    background-size: cover; 
    color: #fff;
    text-align: center;
    padding: 5px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 10px; /* Add spacing between topic buttons */
    border: 2px solid #ccc; /* Add border around list items */
    border-radius: 5px; /* Add rounded corners */
  }
  
  nav ul li a {
    display: block; /* Display topic buttons as block elements */
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    position: relative;
    background-image: radial-gradient(circle, rgb(40, 15, 54), rgb(99, 43, 108), rgb(199, 108, 152), rgb(240, 159, 156), rgb(251, 195, 162));
    background-repeat: no-repeat;
    background-size: cover; 
    color: #fff;
    text-align: center;
  }
  
  #backButton {
    position: absolute; /* Absolute positioning */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
  }